body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  padding: 60px;
  text-align: center;
  background-color: #2196F3;
  /* add background-color property */
  color: white;
}

.footer {
  margin-top: auto;
  /* push footer to the bottom */
  padding: 20px;
  text-align: center;
  background-color: #0a0a0a;
  color: white;
}